
<body style="background-color: lightgray">
<br>
<center>
<div>
    <h1>List Des Evenements</h1>
</div>
</center>
<div style="background-color: white;margin:auto;width: 70% ;height: 80%; position: relative;">
    <br>
    <div style=" padding: 15px; position: relative;top: 0px; border: 1px solid black;border-radius: 5%;width: 600px;height: 90%; margin: auto;">
        <img style="width: 40px;height: 40px;border-radius: 50%;" src="{{ asset('images/logo_p.png') }}">
        <h4 style="position: relative;left: 50px;bottom: 45px">Nom Club</h4>
        <div style="position: relative;border: 0px solid black;bottom: 50px">

            <video style="width: 100%;height: auto" controls>
                <source src="{{ asset('images/t1.mp4')}}" type="video/mp4">
            </video>
            <h2>Titre</h2>
            <p>Madame …, Monsieur …, (nom et prénom de la personne invitée ou son titre)
                C’est avec un immense plaisir que je / la Société / l’association … (intitulé de l’entreprise ou de l’association organisatrice) vous annonce la tenue de … qui aura lieu à … le … (lieu et date de l’événement) à … heures.
                Cette année, le thème de l’événement portera sur le thème de … et présentera diverses épreuves (sportives / culturelles), comme …. L’objectif est ainsi de …. Vous trouverez en pièces jointes le programme précis de la journée.</p>
        </div>

    </div>
</div>


</body>