{% extends 'base.html.twig' %}

{% block body %}
    <h1>Note creation</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input class="btn btn-w-m btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}
<br>
    <ul>
        <li>
            <a class="btn btn-w-m btn-danger" href="{{ path('note_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
