{% extends 'base.html.twig' %}
{% block body %}
    <!-- Load jQuery from Google's CDN if needed -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

    <script src="{{ asset('assets/Js/highcharts.js') }}"></script>
    <script src="{{ asset('assets/Js/exporting.js') }}"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>

    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}